<tr>
  <td>{{name}}</td>
  <td>{{repr}}</td>
  <td style="td-align: center;">
    <a target=_blank {{#isDesktop}}onclick="showVariable('{{name}}', '{{type}}');"{{else}}href="variable?name={{name}}&type={{type}}"{{/isDesktop}}><span class='fa fa-list-alt' aria-hidden='true'></span></a>
  </td>
</tr>
